# Virtual environment
venv/

# Database
db.sqlite3

# Media files (ảnh upload của user)
posts/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Django
*.log
local_settings.py

# VS Code / editor
.vscode/
.idea/

# Windows
Thumbs.db
desktop.ini

# Environment variables (bảo mật)
.env